.row {
    clear: left;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    cursor: pointer;
}